.therapy {
	.therapy__logo {
		object-fit: contain;
		max-height: 50vh;
	}
	.insta-button:hover {
		color: rgb(88, 88, 88);
	}
}

@media (min-width: 576px) {
	.therapy .notice-board {
		width: 75%;
	}
}
@media (min-width: 992px) {
	.individual-therapy {
		border-right: solid rgb(201, 200, 200) 1px;
	}
}

/* Small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
	.therapy-header {
		background-size: contain;
		min-height: 15vh;
		width: 100%;
	}
}

/* Medium devices (tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 991.98px) {
	.therapy-header {
		background-size: cover;
		min-height: 30vh;
		width: 100%;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.therapy-header {
		background-size: cover;
		min-height: 50vh;
		width: 100%;
	}
}
.header-img {
	width: 100%;
}
